/* font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");
/* font */

/* root elements */
:root {
  --body-font: "Roboto", sans-serif;
  --header-font: "Open Sans", sans-serif;
}
/* root elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #fff8f3;
  background-image: url(../images/developer.png);
  background-repeat: no-repeat;
}
.bg-image {
  background-image: url(../images/a_banner_05oct22-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-me {
  background-color: #fff8f3;
}
